* {
    box-sizing: border-box;
}



body {
    font-family: "peachy-keen-jf", sans-serif;
    font-weight: 1;
    font-style: normal; 
    font-size: 10px;
    color:#fefefe;
    margin: 0;
/* background-image: radial-gradient( to center, blue 0%, blue 60%, red 60%, red 100%); */
background-color:#EE9EDF;
}

header {
    display: flex;
    font-size: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    color:#E704BE;
    background-color:#F9C5F0;
    border-style:dashed;
    border-width:10px;
    border-color: #FDE5F9;
    text-shadow: -1px 0 white, 0 1px #900C78, 1px 0 #900C78, 0 -1px #F7C9EF;

}

nav a {
    color:#E704BE;
}

nav ul {
    list-style: none;
    font-size: larger;
    display: flex;
    padding-top: 12px;
    padding-left:0px;
    padding-right: 80px;
    justify-content: space-between;
    min-width: 450px;
    text-shadow: -1px 0 white, 0 1px #900C78, 1px 0 #900C78, 0 -1px #F7C9EF;
}

nav a:hover {
    color:#EE9EDF;
    text-shadow: -1px 0 White, 0 1px #900C78, 1px 0 #900C78, 0 -1px #F7C9EF;
}

main {
    max-width: 1000px;
    margin: 0 auto;
}

hr {
    margin-bottom: 50px;
    margin-top: 25px;
    border: none;
    border-top: 30px dotted #F9C5F0;
}

#Intro {
    Display: flex;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
    color:#E704BE;
    text-shadow: -1px 0 White, 0 1px #900C78, 1px 0 #900C78, 0 -1px #F7C9EF;
}
#Intro img {
    margin-right: 15px;
    margin-top: 5px;
}

#About-Me {
    display: flex;
    margin-top: 5px;
}

#My-Picture {
    text-align: justify;
    width: 400px;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 20px;
}

#My-Picture img {
    display: block;
    padding: 0px;
    border: 5px solid #900C78;
    border-radius: 20px;
}

#My-Picture p {
    display: block;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
    text-shadow: -1px 0 #B50F97, 0 1px #B50F97, 1px 0 #B50F97, 0 -1px #B50F97;
}

.About-Title {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    color:#E704BE;
    text-shadow: -1px 0 White, 0 1px #900C78, 1px 0 #900C78, 0 -1px #F7C9EF;
}

#Biography {
    padding: 5px;
    font-family: "peachy-keen-jf", sans-serif;
    font-weight: 100;
    font-style: normal; 
    font-size: 20px;
    color: White;
    text-shadow: -1px 0 #900C78, 0 1px #900C78, 1px 0 #900C78, 0 -1px #F7C9EF;
}

.Projects-Title {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    color:#E704BE;
    text-shadow: -1px 0 White, 0 1px #900C78, 1px 0 #900C78, 0 -1px #F7C9EF;
}

#My-Projects {
    padding: 5px;
    font-family: "peachy-keen-jf", sans-serif;
    font-weight: 100;
    font-style: normal; 
    font-size: 20px;
    color: White;
    text-shadow: -1px 0 #900C78, 0 1px #900C78, 1px 0 #900C78, 0 -1px #F7C9EF;
}

#My-Projects a {
    color: #F171DA;
}

#My-Projects a:visited {
    text-decoration: none; color: #F171DA;
    text-shadow: -1px 0 White, 0 1px #900C78, 1px 0 #900C78, 0 -1px #F7C9EF;
}

#My-Projects a:hover {
    color:#FA8FE6;
    text-shadow: -1px 0 White, 0 1px #900C78, 1px 0 #900C78, 0 -1px #F7C9EF;
}